name: Terraform Deploy ProductPulse

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
        working-directory: .

      - name: Package Lambda
        run: |
          rm -rf infra/lambda_package.zip package
          mkdir -p package
          pip install --target package -r app/requirements.txt
          rsync -av --exclude='.*' app/ package/
          cd package
          zip -r ../infra/lambda_package.zip .
          cd ..
          rm -rf package
        shell: bash
        working-directory: .

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Configure AWS Credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init
        working-directory: ./infra

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="aws_region=${{ secrets.TF_VAR_AWS_REGION }}" \
            -var="raw_bucket=${{ secrets.TF_VAR_RAW_BUCKET }}" \
            -var="dynamodb_metadata_table=${{ secrets.TF_VAR_DYNAMODB_METADATA_TABLE }}" \
            -var="dynamodb_cache_table=${{ secrets.TF_VAR_DYNAMODB_CACHE_TABLE }}" \
            -var="lambda_function_name=${{ secrets.TF_VAR_LAMBDA_FUNCTION_NAME }}" \
            -var="lambda_handler=${{ secrets.TF_VAR_LAMBDA_HANDLER }}" \
            -var="lambda_runtime=${{ secrets.TF_VAR_LAMBDA_RUNTIME }}" \
            -var="lambda_timeout=${{ secrets.TF_VAR_LAMBDA_TIMEOUT }}" \
            -out=tfplan
        working-directory: ./infra

      - name: Terraform Apply
        run: terraform apply -input=false tfplan
        working-directory: ./infra
